*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Forum', serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #030303;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    width: 1440px;
    margin: 0 auto;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 199px;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.logo-title {
    font-family: 'Forum', serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #FFFFFF;
    letter-spacing: 5px;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 200;
    font-style: normal;
    line-height: normal;
    color: #FFFFFF;
    letter-spacing: 2px;
}

nav ul li a:hover {
    color: #9D8665;
    transition: color 0.3s ease;
}

#first-screen {
    background-color: #030303;
}

.first-screen-container {
    width: 1440px;
    margin: 0 auto;
    height: 842px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: 0;
    position: relative;
}

.first-screen-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 75px;
    flex: 1;
    position: relative;
}

.first-screen-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.first-screen-text h1 {
    font-family: 'Forum', serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    line-height: 90px;
    color: #FFFFFF;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: absolute;
    width: 600px;
    top: 125px;
    left: 0;
    z-index: 2;
}

.first-screen-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    color: #FFFFFF;
    letter-spacing: 2px;
    position: absolute;
    width: 600px;
    top: 325px;
    left: 0;
}

.first-screen-left button {
    width: 360px;
    height: 75px;
    background-color: #710707;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    color: #FFFFFF;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.first-screen-left button:hover {
    background-color: #9D8665;
    transition: background-color 0.3s ease;
}

.first-screen-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 1000px;
    padding-bottom: 0;
}

.slider {
    position: relative;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%), url('assets/first-screen-gallery/1.jpg') lightgray 50% / cover no-repeat;
    pointer-events: none;
}

.slider .slides img {
    height: 100%;
}

.slider-controls {
    position: absolute;
    bottom: -60px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 600px;
    height: 120px;
    padding-left: 74px;
    padding-right: 74px;
    background-color: #030303;
}

.slider-controls .slider-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slider-controls .slider-counter span {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 3400;
    font-style: normal;
    line-height: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.slider-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.slider-dots .dot {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.slider-dots .dot.active {
    background-color: #D2B183;
}


#visit {
    background-color: #fff;
}

.visit-container {
    width: 1440px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
}

h2 {
    color: #9D8665;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.section-devider {
    width: 100%;
    height: 3px;
    background-color: #710707;
    margin-bottom: 75px;
}

.visit-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    max-width: 1440px;
    margin: 0 auto;
}

h3 {
    color: #000;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 10px;
}

.section-subdevider {
    width: 300px;
    height: 2px;
    background-color: #710707;
    margin-bottom: 10px;
}

.visit-subtitle {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    padding-bottom: 10px;
}

.visit-gallery-item p {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

#explore {
    background-color: #030303;
}

.explore-container {
    width: 1440px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
}

.explore-container h2 {
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    /* 112.5% */
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.explore-container .section-devider {
    width: 100%;
    height: 3px;
    background-color: #710707;
    margin-bottom: 75px;
}

.explore-container p {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px;
    /* 175% */
    padding-bottom: 25px;
}

.explore-slider-container {
    position: relative;
    width: 720px;
    height: 700px;
    overflow: hidden;
}

.explore-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.explore-img-after,
.explore-img-before {
    position: absolute;
    top: 0;
    height: 100%;
}

.explore-img-after {
    left: 0;
    width: 100%;
    z-index: 1;
}

.explore-img-before {
    left: 0;
    width: 440px;
    overflow: hidden;
    z-index: 2;
}

.explore-img-after img,
.explore-img-before img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.explore-slider-handle {
    position: absolute;
    top: 50%;
    left: 440px;
    transform: translate(-50%, -50%);
    width: 39px;
    height: 100%;
    z-index: 4;
    pointer-events: none;
}

.explore-text span {
    color: #CAAA7D;
}